{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "syntax-jsx",
    "transform-react-jsx",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
